* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;


}

/* general */
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn {
    all: unset; /* toglie tutti gli style del broweser ai bottoni */
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}

img {
    max-width: 100%;
}

/* NAVBAR */
.nav-top {
    background-color: rgba(0,132,253,255);
    height: 4.7rem;
}

.nav-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.nav-top ul {
    display: none;
}


.nav-top .hamburger a {
    color: white;
    font-size: 1.5rem;
}

/* HEADER */

/* card blu */
.card-blu-flex {
    display: flex;
    flex-wrap: wrap;

}

.card-blu {
    background-color: rgba(181,221,255,255);
    border-radius: 20px;
    padding: 2rem;
    flex-basis: 100%;
    margin: 1rem 0;
}

.card-blu h3 {
    color: rgba(0,132,253,255);
    font-size: 1.3rem;
}

/* .card-blu p {
    line-height: 1.7rem;
} */

.phone {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.btn-blu {
    background-color: rgba(0,132,253,255);
    width: 11rem;
    padding: .5rem;
    text-align: center;
    color: white;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
}

.card-blu h3, .first-p {
    margin-bottom: 2rem;
}

.card-blu-flex i:not(.fa-apple) {
    font-size: 4.5rem;
    color: rgba(0,132,253,255);
    margin-bottom: 2rem;
}

.card-blu:not(.card-phone) {
    text-align: center;
}

/* seconda section Strategic Planning */

.strategic-planning {
    background-color: rgba(151,146,228,255);
    padding-bottom: 4rem;
}

.app-development {
    background-color: white;
    text-align: center;
    border-radius: 50px;
    padding: 1rem;
}

.app-development i {
    font-size: 1rem;
    color: black;
    background-color: rgba(151,146,228,255);
    padding: 1rem 1.1em;
    border-radius: 5rem;
}
.strategic-planning > img {
    margin-top: 2rem;
}

.strategic-planning img, h2, p{
    margin-bottom: 2rem;
}

/* terza section Testimonials */

.testimonials {
    text-align: center;
}

.testimonials h2 {
    color: rgba(151,146,228,255);
}

.purple-cards {
    background-color: rgba(151,146,228,255);
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin: 2rem 0;
}

.purple-cards img {
  width: 200px;
  height: 215px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 2rem 1.5rem;
  object-fit: cover;
}

.name-testimonials {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* quarto container white-cards */
.white-cards {
    background-color: rgba(151,146,228,255);
    color: rgba(151,146,228,255);
    padding-bottom: 3rem;
}
.white-cards > h2 {
    color: white;
    text-align: center;
    padding-top: 2rem;

}

.white-card {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin: 2rem 0 ;
}

.white-card h3 {
    padding-bottom: 2rem;
}


.white-card h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
}

.btn-more {
    background-color: rgba(151,146,228,255);
    width: 8rem;
    padding: .5rem;
    text-align: center;
    color: white;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
}

/* quinto container about us */
.about-us h2 {
    color: rgba(151,146,228,255);
}

.about-us h2:first-child {
    font-size: 2.5rem;
    padding-top: 2rem;
}

.about-us img {
  width: 200px;
  height: 215px;
  display: block;
  border-radius: 50%;
  padding: 2rem 1.5rem;
  object-fit: cover;
}


.immagine-linkedin {
    position: relative;
}

.virgolette-img {
    color: rgba(151,146,228,255);
    font-size: 3.8rem;
    position: absolute;
    top: 1.5rem;
    left: 8.3rem;
}

.about-us a {
    color: white;
    background-color: rgba(151,146,228,255);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

/* sesto container transparent pricing */
.transparent-pricing {
    background-color: rgba(151,146,228,255);
    color: white;
    text-align: center;
    padding-bottom: 3rem;
}

.transparent-pricing h2:first-child {
    color: rgba(181,178,235,255);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding-top: 4rem;
}

.transparent-pricing h2:nth-child(3) {
    color: rgba(253,193,95,255);
    font-size: 3.5rem;
}

.transparent-pricing a {
    color: white;
}

.transparent-pricing .get-started {
    color: rgba(151,146,228,255);
    background-color: white;
    padding: 1rem 4rem;
    text-align: center;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.transparent-pricing i {
    font-size: 0.25rem;
    vertical-align: middle;
}

/* MEDIA QUESRIES */

@media screen and (min-width: 811px) {

    .nav-top ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 1rem;
    }

    .nav-top li {
        display: flex;
        align-items: center;
        height: 100%;

    }

    .nav-top .nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        height: 100%;
        padding: 0 1rem;
    }

    /* .nav-top .nav-link:visited {
        color: white;
    } */


    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }

    .nav-top .btn {
        background-color: white;
        padding: .5rem;
    }

    .nav-top .btn:hover {
        background-color: lightgray;
    }

    .hamburger {
        display: none;
    }

}